In [1]:
import pandas as pd

In [2]:
# importando o arquivo csv e lendo com o PANDAS
df = pd.read_csv("/Users/rodolforicardo/Downloads/datadiscoveryone/data/raw/olist_order_reviews_dataset.csv")

In [3]:
df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [4]:
# selecionando as colunas válidas para o projeto
selected = df[['review_score', 'review_comment_message']]

In [5]:
selected_na = selected.dropna()

In [6]:
dataframe = pd.DataFrame(selected_na)

In [7]:
# passando as palavras pa minúsculo
dataframe['review_comment_message'] = dataframe['review_comment_message'].str.lower()

In [8]:
dataframe

       review_score                             review_comment_message
3                 5              recebi bem antes do prazo estipulado.
4                 5  parabéns lojas lannister adorei comprar pela i...
9                 4  aparelho eficiente. no site a marca do aparelh...
12                4    mas um pouco ,travando...pelo valor ta boa.\r\n
15                5  vendedor confiável, produto ok e entrega antes...
...             ...                                                ...
99205             4  para este produto recebi de acordo com a compr...
99208             5  entregou dentro do prazo. o produto chegou em ...
99215             3  o produto não foi enviado com nf, não existe v...
99221             5  excelente mochila, entrega super rápida. super...
99223             1  meu produto chegou e ja tenho que devolver, po...

[40977 rows x 2 columns]

In [9]:
import unidecode
import unicodedata

In [10]:
# passando a coluna para lista
lista = list(dataframe['review_comment_message'])

In [11]:
# removendo acentuação com o unicodedata
novalista = []
for item in lista:
    item = unicodedata.normalize("NFD", item)
    novalista.append(item.encode("ascii", 'ignore').decode("utf-8"))

In [12]:
# removendo os números 
import re
padrao = re.compile(r'\d+')
novalista2 = []
for item in novalista:
    novalista2.append(padrao.sub('', item))

In [13]:
# removendo os caracteres especiais
novalista3 = []
for item in novalista2:
    novalista3.append(re.sub(r'[^a-zA-Z0-9]', ' ', item))

In [14]:
# removendo o nome das Casas de Game of Thrones
# casas = ['lannister','stark','targaryen','greyjoy','baratheon','martell','tyrell','bolton']
    
padrao = re.compile(r'lannister|stark|targaryen|greyjoy|baratheon|martell|tyrell|bolton')
novalista4 = []
for item in novalista3:
    novalista4.append(padrao.sub('', item))

In [17]:
# importando a biblioteca NLTK para utilizar a lista de stopwords e stemming
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords = nltk.corpus.stopwords.words('portuguese')
#nltk.download('rslp')

In [18]:
# função para remover as stopwords 
def removerStopwords (frases):
    novalista5 = []
    for item in frases:
        add = [p for p in item.split() if p not in stopwords]
        novalista5.append(add)
    return novalista4

novalista5 = removerStopwords(novalista4)

In [19]:
# removendo stopwords e fazendo o STEMMING (retirada dos sufixos)
def aplicaStemmer(texto):
    stemmer = nltk.stem.RSLPStemmer()
    semsufixo = []
    for frases in texto:
        comsufixo = [str(stemmer.stem(p)) for p in frases.split() if p not in stopwords]
        semsufixo.append(comsufixo)
    return semsufixo

novalista6 = aplicaStemmer(novalista4)

In [20]:
# criando uma lista com as frases completas
novalista7 = []
for item in novalista6:
    item = ' '.join(item)
    novalista7.append(item)

In [21]:
# criando um dataframe a partir da última lista tratada
toDataframe = pd.DataFrame(novalista7)

In [22]:
# adicionando uma nova coluna com os dados tratados
dataframe['dados tratados'] = toDataframe.values

In [23]:
dataframe

,review_score,review_comment_message,dados tratados
3,5,recebi bem antes do prazo estipulado.,receb bem ant praz estipul
4,5,parabéns lojas lannister adorei comprar pela i...,parab loj ador compr internet segur pra parab ...
9,4,aparelho eficiente. no site a marca do aparelh...,aparelh efici sit marc aparelh impress desinfe...
12,4,"mas um pouco ,travando...pelo valor ta boa.\r\n",pouc trav val ta boa
15,5,"vendedor confiável, produto ok e entrega antes...",vend confia produt ok entreg ant praz
...,...,...,...
99205,4,para este produto recebi de acordo com a compr...,produt receb acord compr realiz
99208,5,entregou dentro do prazo. o produto chegou em ...,entreg dentr praz produt cheg condico perfeit ...
99215,3,"o produto não foi enviado com nf, não existe v...",produt nao envi nf nao exist vend nf cert fic ...
99221,5,"excelente mochila, entrega super rápida. super...",excel mochil entreg sup rap sup recom loj
99223,1,"meu produto chegou e ja tenho que devolver, po...",produt cheg ja devolv poi defeit nao segur carg

In [24]:
# removendo as linhas com score 3
dataframe = dataframe[dataframe['review_score'] != 3]

In [25]:
dataframe

,review_score,review_comment_message,dados tratados
3,5,recebi bem antes do prazo estipulado.,receb bem ant praz estipul
4,5,parabéns lojas lannister adorei comprar pela i...,parab loj ador compr internet segur pra parab ...
9,4,aparelho eficiente. no site a marca do aparelh...,aparelh efici sit marc aparelh impress desinfe...
12,4,"mas um pouco ,travando...pelo valor ta boa.\r\n",pouc trav val ta boa
15,5,"vendedor confiável, produto ok e entrega antes...",vend confia produt ok entreg ant praz
...,...,...,...
99203,2,tive um problema na entrega em que o correio c...,problem entreg correi coloc sit entreg dia nao...
99205,4,para este produto recebi de acordo com a compr...,produt receb acord compr realiz
99208,5,entregou dentro do prazo. o produto chegou em ...,entreg dentr praz produt cheg condico perfeit ...
99221,5,"excelente mochila, entrega super rápida. super...",excel mochil entreg sup rap sup recom loj
99223,1,"meu produto chegou e ja tenho que devolver, po...",produt cheg ja devolv poi defeit nao segur carg

In [26]:
import string
from tqdm.auto import tqdm
cont = 0
x_data = []
y_data = []
for star,review,target in tqdm((dataframe).values):
    x_data.append(review)
    y_data.append(target)
    cont += 1

  0%|          | 0/37420 [00:00<?, ?it/s]

Bag of Words

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(x_data)
(vectorizer.get_feature_names())
X.toarray()#[0]

/Users/rodolforicardo/.local/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
X_train, X_test, y_train, y_test = train_test_split(X.toarray(), y_data, test_size=0.7, random_state=0)
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"
       % (X_test.shape[0], (y_test != y_pred).sum()))

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
list(y_pred).count(1),len(y_pred),list(y_test).count(1),len(y_test)#.count(1)

In [ ]:
gnb.predict([X.toarray()[1]]),y_pred[1]

In [ ]:
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import plot_confusion_matrix

In [ ]:
confusion = confusion_matrix(y_test, y_pred)
print(confusion)

In [ ]:
plot_confusion_matrix(gnb,X_test,y_test)